Case Docs - Ingest into Chroma.json
{
  "name": "Case Docs - Ingest into Chroma",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        752
      ],
      "id": "6fc3ad6d-70b2-4fd0-8bb7-f51d3cb33993"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-folder",
              "name": "case_folder_path",
              "value": "=C:\\Users\\Samaha\\.n8n-files",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Folder Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -352,
        752
      ],
      "id": "3590d205-3381-4570-9866-f43802199026"
    },
    {
      "parameters": {
        "fileSelector": "={{$json.case_folder_path }}/**/*.pdf",
        "options": {}
      },
      "name": "Read Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -128,
        752
      ],
      "id": "e077f722-4d82-4e06-b272-b604d1eafbea",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Read Files').item.json.fileName }}"
              }
            ]
          }
        }
      },
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        672,
        368
      ],
      "id": "fd6dd922-e55a-43a9-b12c-2e72a9b6dc4f",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        752,
        576
      ],
      "id": "5d2fbdfa-40fb-445a-b569-850546f174ac"
    },
    {
      "parameters": {
        "mode": "insert",
        "chromaCollection": {
          "__rl": true,
          "value": "=case_folder",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        576,
        144
      ],
      "id": "ebe024b7-e6d0-40a7-a81c-88480dbfe265",
      "name": "Chroma Vector Store",
      "notesInFlow": false,
      "credentials": {
        "chromaSelfHostedApi": {
          "id": "UCZoiel4m6XnhxXu",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        320,
        560
      ],
      "id": "c27b42a9-aef3-4a63-8329-2b6228bf1917",
      "name": "Extract from File",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d547fa17-9f40-42de-8053-fbd2db43f87f",
              "name": "Status",
              "value": "Skipped",
              "type": "string"
            },
            {
              "id": "34527d44-6691-4ec1-b17e-df09b42547dd",
              "name": "File",
              "value": "={{ $('Read Files').item.json.fileName }}",
              "type": "string"
            },
            {
              "id": "8424cb27-691f-463b-a610-65d465061d33",
              "name": "Reason",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        752
      ],
      "id": "5702097b-7348-44c5-bbde-02bdb2dc6467",
      "name": "Log Skipped File"
    },
    {
      "parameters": {
        "errorMessage": "=Could not read PDFs from {{ $('Set Folder Path').item.json.case_folder_path }}. Check that the path exists, is inside the allowed n8n folder, and contains .pdf files."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        96,
        848
      ],
      "id": "796cee85-e1dc-4cbf-a9b8-9f263f640d1e",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a2f8a13-242b-486f-a206-a70577f29ad2",
              "leftValue": "={{ $binary.data.fileName.toLowerCase().endsWith('.pdf') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        656
      ],
      "id": "042c7955-28fd-4b0e-85d0-714279df34cf",
      "name": "Validate PDF"
    },
    {
      "parameters": {
        "errorMessage": "=Invalid file detected: \"{{ $binary.data.fileName }}\". Only PDF files are allowed. Please remove non-PDF files from the case folder and run the workflow again"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        320,
        752
      ],
      "id": "2c066643-548b-4730-b2b6-46f15bde1d43",
      "name": "Invalid File Type"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        368
      ],
      "id": "653673e0-e3a9-4389-b44f-b0e1d730d5f9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LtrylQ8wcvDKGhu7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Folder Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder Path": {
      "main": [
        [
          {
            "node": "Read Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Read Files": {
      "main": [
        [
          {
            "node": "Validate PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "350e248e-bff0-4c68-9ce7-92c7bf3b75f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df18bf4939f23116e9d94f7f2644889dc594c54f15270369e49e4c9e6f21de88"
  },
  "nodeGroups": [],
  "id": "S8Iv6DrtMxY3bMi3",
  "tags": []
}